
:root {
    --headerHeight: 120px;
    --footerHeight: 60px;

    --themColor1: #007f9f;
    --themColor1-Opacity: #007f9f7e;

    --themColor2: #3e4a54;
    --themColor2-Opacity: #3e4a546e;

    --themColor3: #1c7a04;
    --themColor3-Opacity: #1c7a0467;

    --borderElement: solid var(--themColor2-Opacity) 1px;

}



html,
body {
    padding: 0;
    margin: 0;
    direction: ltr;
    font-family: "Poppins", Sans-serif;
    height: 100vh;

    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 12%, rgba(0,127,159,1) 42%, rgba(62,74,84,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 12%, rgba(0,127,159,1) 42%, rgba(62,74,84,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 12%, rgba(0,127,159,1) 42%, rgba(62,74,84,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#3e4a54",GradientType=1);}

* {
    box-sizing: border-box;
    -webkit-appearance: none;

}
a{
    text-decoration: none;
}
/* preventing safari default style------------- */
input,
textarea{
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/*--------------------------------------------------*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: var(--headerHeight);
    /* border-bottom: var(--themColor2-Opacity) 0.6px solid; */
    /* -webkit-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75); */

}

.leftHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.logo {
    height: 100%;
    margin-left: 15px;
}

nav {
    justify-content: flex-end;
    align-content: center;
    justify-self: flex-end;
    display: flex;
    flex-flow: row wrap;
    width: 40%;
}

header h1{
    align-self: flex-end;
    justify-self: center;
    width: fit-content;
    color: var(--themColor2);
    font-weight: bold;
}
.navItem {
    height: calc(var(--headerHeight) / 2);
    line-height:  calc(var(--headerHeight) / 2);
    padding-left:10px;
    padding-right:10px;
    margin-right:15px;

    border-radius: 15px;
    border: var(--borderElement);
    text-align: center;
    background-color: var(--themColor2-Opacity);
    color: white;
    font-weight: bold;
}

.navItem:hover {
    cursor: pointer;
    background-color: var(--themColor2);

}

.bodyWrapperGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: calc(100vh - calc(var(--headerHeight) + var(--footerHeight)));
    /* background-color: var(--themColor1); */
    align-items: center;
    justify-items: center;
}

.easyAppImg {
    width: 80%;
    height: 80%;
    background-image: url('img/product.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display:flex;
    flex-direction: column;
    justify-content: space-around;


}

/* .image{
    width: 100%;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 50% { -moz-transform: rotateY(90deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotateY(90deg); } }
@keyframes spin { 50% { -webkit-transform: rotateY(90deg); transform:rotateY(90deg); } } */

/* .main {
    width: 80%;
    height: 80%;
    position: relative;
}

.main:before {
    width: 80%;
    height: 80%;
    position: relative;
    background-image: url("img/product.png");
    background-size: cover;
    content: '';
    -webkit-animation: spinX 3s ;
    animation: spinX 3s ;
}


@-webkit-keyframes spinX
{  
0%   {position: relative;
    left:-300px;
}  
100% {position: relative;
    left:0;}  
}
@keyframes spinX
{  
    0%   {position: relative;
        left:-1000px;
    }  
    100% {position: relative;
        left:0;}  
    } */
.easyAppImgWraper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    margin:auto;
    width: 80%;
    justify-items: center;
    grid-gap:5px;
}

.workshop{
    background-color: var(--themColor2-Opacity);
    border-radius: 15px;
    border:var(--borderElement);
    color:white;
    padding:5px;
    width: 100%;
    height: 100%;
    margin: 5px;
    min-width: fit-content;
    position: relative;

    -webkit-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
}

.workshop:hover{
    cursor: pointer;
}

.workshop div{
    margin:10px;
}
.workshop h2{
    background-color: black;
    border-bottom: var(--themColor1-Opacity) 1px solid;
    width: 100%;
    padding:5px;
    margin-top:1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;}

.link{
    position: absolute;
    bottom: 2.5px;
    right: 10px;
    margin:0;

    }
.landingForm {
    display: flex;
    width: 80%;
    height: 80%;
    padding: 15px;
    background-color: var(--themColor2-Opacity);
    border: var(--borderElement);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: auto;
    justify-content: space-around;

    -webkit-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
}

.formHead {
    color: white;
    text-align: center;
}

.inputs {
    background-color: #fff;
    border: var(--borderElement);
    border-radius: 5px 5px 5px 5px;
    line-height: 2.1em;
    padding: 5px;
    width: 80%;
    margin: auto;
    outline: none;
}
.features input{
    width:25%;
    cursor: default;
    -webkit-appearance: radio;
    box-sizing: border-box;
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.7); /* Chrome, Safari, Opera */
    transform: scale(1.7);

}


.features div{
    text-align: center;

 }
.features{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    align-items: center;
    justify-items: center;
    max-width: fit-content;
    margin:auto;
    padding:5px;
    grid-auto-flow: column;
 }
.submit {
    background-color: var(--themColor1);
    color:white;
    font-weight: bold;
    width: fit-content;
    border-radius: 15px;
    border: var(--borderElement);
    padding:10px;
    opacity: 0.8;

}

.submit:hover {
    cursor: pointer;
    opacity: 1;
}

footer {
    height: var(--footerHeight);
    /* background-color: var(--themColor2); */
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: var(--footerHeight);
 
}




@media only screen and (max-width: 800px) {
    header {

        height: calc(var(--headerHeight) / 2);
        line-height:  calc(var(--headerHeight) / 2);

        position:sticky;
        top:0;
        z-index: 5;
        background:white;

    }
    footer {

        height: calc(var(--footerHeight) / 2);
        line-height:  calc(var(--footerHeight) / 2);
    }
    .logo {
        height: 100%;
        width: auto;
        /* align-self: flex-start; */
    }

    nav {
        width: 100%;
        margin-right: 5px;
    }

    header h1{
        display: none;
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .navItem {
        padding: 0;
        border-radius: 15px;
        font-size: 0.8rem;
        width: 80%;
        height:calc(var(--headerHeight) / 4);
        line-height:calc(var(--headerHeight) / 4);
    }

    .bodyWrapperGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        min-height: calc(100vh - calc(calc(var(--headerHeight) / 2) + calc(var(--footerHeight) / 2)));

    }
    

    .landingForm {
        width: 100vw;
        height: 100%;
        padding: 5px;
        border-bottom: var(--borderElement);
        border-radius: 0;
    }

  
    .easyAppImgWraper{
        grid-row: 1;

        display:flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        margin:auto;
        width: 100%;
    }

    .inputs {
        width: 90%;
        padding: 10px;
    }

    .submit{
        width: fit-content;
        opacity: 1;
    }

    .features input{
        -ms-transform: scale(1.3); /* IE 9 */
        -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
        transform: scale(1.3);
    }
    .link{
        visibility: hidden;
        width: 0;
        height: 0;
        display: none;
    }
}

.thankYou{
    text-align: center;
    color:white;
    font-weight: bold;
}





